.NotesList {
    width: 20rem;
    height: 100%;
    padding: 1rem 2rem;
    background: var(--third-bg-color);
    border-right: 1px solid color-mix(in srgb, var(--main-text-color) 20%, transparent);
}