@font-face {
    font-family: "Tektur";
    src: url("../fonts/Tektur/Tektur-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Tektur";
    src: url("../fonts/Tektur/Tektur-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Tektur";
    src: url("../fonts/Tektur/Tektur-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Tektur";
    src: url("../fonts/Tektur/Tektur-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
