.Header {
    background-color: var(--second-bg-color);
    display: flex;
    align-items: center;
    border-bottom: 1px solid color-mix(in srgb, var(--main-text-color) 20%, transparent);
}

.Header__list {
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: right;
}

.Header__link:hover,
.Header__link:active {
    color: var(--accent-color);
    transition: all 0.1s linear;
}

.Header__link_logout .border-child {
    background: var(--main-text-color);
}