@import "./variables.css";


html {
    font-size: 18px;
}
body {
    background: var(--main-bg-color);
}
body,
* {
    font-family: "Tektur", sans-serif;
    font-size: 1rem;
    color: var(--main-text-color);
}

.container {
    width: 100%;
    max-width: var(--screen-size-desktop);
    margin: 0 auto;
    padding: 1rem 2rem;
}
.main {
    width: 100%;
    height: 100%;
}


.App {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}


.border-parent {
    position: relative;
}
.border-child {
    --corner-size: 0.5rem;
    --border-size: 2px;
    clip-path: polygon(
        0% 0%,
        0% 100%,
        var(--border-size) calc(100% - var(--border-size)),
        var(--border-size) var(--border-size),
        calc(100% - var(--corner-size) - var(--border-size)) var(--border-size),
        calc(100% - var(--border-size)) calc(var(--corner-size) + var(--border-size)),
        calc(100% - var(--border-size)) calc(100% - var(--border-size)),
        var(--border-size) calc(100% - var(--border-size)),
        0 100%,
        100% 100%,
        100% var(--corner-size),
        calc(100% - var(--corner-size)) 0%
    );
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    background: var(--accent-color);
    padding: 0.4rem;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.1s linear;
}
.border-parent:hover .border-child,
.border-parent:active .border-child {
    opacity: 8;
}