:root {
    --main-bg-color: #0e131a;
    --second-bg-color: #161e29;
    --third-bg-color: #202b3b;

    --main-text-color: #deebff;
    --accent-color: #ff3939;
    --second-accent-color: #16ff6f;

    --main-color-transparent: color-mix(in srgb, var(--main-text-color) 20%, transparent);

    --screen-size-desktop: 1200px;
    --screen-size-laptop: 992px;
    --screen-size-tablet: 768px;
    --screen-size-phone: 576px;
}